/* General Styles */
  .player-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f8fafc;
  }
  
  .player-page-title h1 {
    font-size: 32px;
    color: #1e3a8a;
    font-weight: bold;
    margin-top: 120px;
  }
  
  .player-page-title p {
    font-size: 16px;
    color: #64748b;
    margin-top: 5px;
  }


  @media screen and (max-width: 425px) {
    .player-container{
      overflow-x: hidden;
    }
    
  }
